*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  overflow: hidden;
}



:root{

  


  --f-main: "Noto Sans Thai", sans-serif;
  --f-secondary: "Manrope", sans-serif;

  --loading: rgb(44, 44, 44);
  --background-primary: #fe8c53;
  --background-secondary: #183D3D;
  --background-basic: #362434;
  --background-highlight: #386152;
  --background-body: #111312;
  --background-after: black;

  --text-color-primary: #ffffff;
  --text-color-secondary: #183D3D;
  --text-color-highlight: #199568;
  --text-color-basic: white;
  --text-color-bright: white;


  
}

body{
  background-color: var(--background-body);
}

/* NORMAL
  --f-main: "Noto Sans Thai", sans-serif;
  --f-secondary: "Manrope", sans-serif;
  --loading: rgb(175, 175, 175);
  --background-primary: #4C9457;
  --background-secondary: #B59DC1;
  --background-basic: #E2E8F3;
  --background-highlight: #203b24;
  --background-body: #F6F9FF;
  --background-after: black;

  --text-color-primary: #4C9457;
  --text-color-secondary: #B59DC1;
  --text-color-highlight: #203b24;
  --text-color-basic: black;
  --text-color-bright: white;
*/

/* DARK SUNSET
  --f-main: "Noto Sans Thai", sans-serif;
  --f-secondary: "Manrope", sans-serif;
  --loading: rgb(44, 44, 44);
  --background-primary: #fe8c53;
  --background-secondary: #183D3D;
  --background-basic: #362434;
  --background-highlight: #386152;
  --background-body: #111312;
  --background-after: black;

  --text-color-primary: #ffffff;
  --text-color-secondary: #183D3D;
  --text-color-highlight: #199568;
  --text-color-basic: white;
  --text-color-bright: white;
*/

/* SCARLET PAPER
  --f-main: 'Inter', system-ui, sans-serif;
  --f-secondary: 'JetBrains Mono', monospace;
  --loading: #666666;
  --background-primary: #E43636;
  --background-secondary: #F6EFD2;
  --background-basic: #F6EFD2;
  --background-highlight: #E2DDB4;
  --background-body: #000000;
  --background-after: rgba(0, 0, 0, 0.5);
  --text-color-primary: #E43636;
  --text-color-secondary: #F6EFD2;
  --text-color-highlight: #FFFFFF;
  --text-color-basic: #E43636;
  --text-color-bright: rgb(74, 1, 1);
*/

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}
.page-section{
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 20rem;
}

.page-section__child{
  width: 100%;
  max-width: 120rem;
  min-width: 20rem;
}

.index-nav{
  position: fixed;
  z-index: 11;
  background-color: var(--background-body);
  height: 5rem;
  padding-block: .5rem;
  padding-inline: clamp(1rem, 15vw, 20rem);
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 1.5rem;
    & > ul{
      width: max-content;
      display: flex;
      list-style-type: none;
      gap: 1.5rem;
      & > li > a{
        text-decoration: none;
        color: var(--text-color-basic);
        font-family: var(--f-secondary);
      }
    }
  }
    & > div:nth-of-type(2){
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & > a{
        text-decoration: none;
        color: var(--text-color-basic);
        font-family: var(--f-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .25rem;

        & > svg{
          width: 22px;
          height: 22px;
        }
      }
  }
}

.index-sidenav-toggle{
  display: none;
  background-color: transparent;
  grid-area: inherit;
  border: none;
  width: max-content;
  flex-direction: column;
  gap: .5rem;
  height: 100%;
  justify-content: center;
  padding-right: .5rem;
  & > div:nth-of-type(1){
    width: 3rem;
    background-color: black;
    height: .25rem;
    border-radius: .5rem;
  }

  & > div:nth-child(2){
    width: 1.5rem;
    background-color: black;
    height: .25rem;
    border-radius: .5rem;
  }
}

.index-mini-nav{
  position: fixed;
  padding-top: 5rem;
  height: 100svh;
  max-height: 55rem;
  min-height: fit-content;
  z-index: 10;
  background-color: #F6F9FF;
  padding-inline: clamp(1rem, 15vw, 20rem);
  transform: translateY(-100%);
  transition: transform .5s linear;
  display: none;
  & > ul{
    padding-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & > ul > li > a{
    color: var(--tc-basic);
    text-decoration: none;
    font-family: var(--f-secondary);
    font-size: 2rem;
  }
}


@media (max-width: 950px){
  .index-nav{
    & > div:nth-of-type(1){
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      & > ul{
        display: none;
      }
      & > img{
        grid-area: inherit;
        justify-self: center;
      }

    }
    & > div:nth-of-type(2){
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  .index-sidenav-toggle{
    display: flex;
  }
  .index-mini-nav{
    display: block;
  }
}

@media (max-width: 450px){
  .index-nav, .index-mini-nav{
    padding-inline: .5rem;
  }
}

.index-nav-wrapper{
  position: relative;
}

.toggle-nav-animation{
  transform: translateY(0);
}

.footer-wrapper{
  background: linear-gradient(to right, var(--background-highlight) 0%, var(--background-primary) 100%);
}

.footer-content{
  padding: 5rem clamp(1rem, 15%, 25rem) 5rem clamp(1rem, 15%, 25rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: space-evenly;
  gap: 3rem;
  & *{
    font-family: var(--f-secondary);
    color: var(--text-color-bright);
  }

  & a{
    text-decoration: none;
  }

  & a:hover{
    text-decoration: underline;
  }

  & > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.logo{
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.footer-column__header{
  justify-content: center;
  & > p{
    font-size: .8rem;
  }
  
}

.button-loading{
  width: .9rem;
  height: .9rem;

  animation: buttonLoading 1s infinite linear;
}

@keyframes buttonLoading {
  to {
    transform: rotate(360deg);
  }
}

.alzher-message{
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 15;
  padding: 1rem;
  background-color: var(--background-primary);
  color: var(--text-color-bright);
  border-radius: .5rem 0 0 .5rem;
  font-family: var(--f-main);
  transform: translateX(100%);

  animation: alzher-message 5s ease-in forwards;
}

.alzher-error{
  background-color: rgb(255, 198, 198);

  & > p{
    color: rgb(146, 0, 0);
  }
}

@keyframes alzher-message {
  10%{
    transform: translateX(0);
  }
  90%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}

.loading-page{
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: alzher-loading 1s ease-in-out infinite;
}

@keyframes alzher-loading {
  to {
    transform: rotate(360deg);
  }
}

.not-logged-in{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100svh - 5rem);
  min-height: 20rem;
  flex-direction: column;
  gap: 1rem;

  font-family: var(--f-main);
  color: var(--text-color-primary);

  & > p > a{
    color: var(--text-color-primary);
    text-decoration: underline;
  }

  & > svg{
    width: 5rem;
    height: 5rem;
    fill: var(--background-primary);
  }
}

.validation-error{
  color: red;
  font-family: var(--f-secondary);
}